Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-phonenumber-field==8.4.0

gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.0.1

psycopg2-binary==2.9.11
razorpay==1.4.2
firebase_admin==7.4.0

setuptools